In [1]:
from bs4 import BeautifulSoup
url = BeautifulSoup('https://www.skysports.com/premier-league-table', 'html.parser')
url

C:\Users\msi\anaconda3\lib\site-packages\bs4\__init__.py:417: MarkupResemblesLocatorWarning: "https://www.skysports.com/premier-league-table" looks like a URL. Beautiful Soup is not an HTTP client. You should probably use an HTTP client like requests to get the document behind the URL, and feed that document to Beautiful Soup.
  warnings.warn(

https://www.skysports.com/premier-league-table

In [2]:
import requests
response = requests.get(url)
response

In [3]:
soup = response.text
soup = BeautifulSoup(soup, "lxml")

In [4]:
table = soup.table

In [5]:
table_row = table.find_all('tr')

In [6]:
data = []
for i in table_row:
    data.append(i.text)
print(data)

['\n#\nTeam\nPl\nW\nD\nL\nF\nA\nGD\nPts\nLast 6\n', '\n1\n\nManchester City\n\n29\n22\n4\n3\n68\n18\n50\n70\n\n\n       \n\n', '\n2\n\nLiverpool\n\n29\n21\n6\n2\n75\n20\n55\n69\n\n\n       \n\n', '\n3\n\nChelsea\n\n28\n17\n8\n3\n57\n19\n38\n59\n\n\n       \n\n', '\n4\n\nArsenal\n\n28\n17\n3\n8\n44\n31\n13\n54\n\n\n       \n\n', '\n5\n\nTottenham Hotspur\n\n29\n16\n3\n10\n47\n36\n11\n51\n\n\n       \n\n', '\n6\n\nManchester United\n\n29\n14\n8\n7\n48\n40\n8\n50\n\n\n       \n\n', '\n7\n\nWest Ham United\n\n30\n14\n6\n10\n49\n39\n10\n48\n\n\n       \n\n', '\n8\n\nWolverhampton Wanderers\n\n30\n14\n4\n12\n31\n26\n5\n46\n\n\n       \n\n', '\n9\n\nAston Villa\n\n29\n11\n3\n15\n41\n40\n1\n36\n\n\n       \n\n', '\n10\n\nLeicester City\n\n27\n10\n6\n11\n42\n46\n-4\n36\n\n\n       \n\n', '\n11\n\nSouthampton\n\n29\n8\n11\n10\n36\n45\n-9\n35\n\n\n       \n\n', '\n12\n\nCrystal Palace\n\n29\n7\n13\n9\n39\n38\n1\n34\n\n\n       \n\n', '\n13\n\nBrighton and Hove Albion\n\n29\n7\n12\n10\n26\n36\n-10\n33\n\n\n       \n\n', '\n14\n\nNewcastle United\n\n29\n7\n10\n12\n32\n49\n-17\n31\n\n\n       \n\n', '\n15\n\nBrentford\n\n30\n8\n6\n16\n33\n47\n-14\n30\n\n\n       \n\n', '\n16\n\nLeeds United\n\n30\n7\n8\n15\n34\n67\n-33\n29\n\n\n       \n\n', '\n17\n\nEverton\n\n27\n7\n4\n16\n29\n47\n-18\n25\n\n\n       \n\n', '\n18\n\nWatford\n\n29\n6\n4\n19\n29\n55\n-26\n22\n\n\n       \n\n', '\n19\n\nBurnley\n\n27\n3\n12\n12\n22\n38\n-16\n21\n\n\n       \n\n', '\n20\n\nNorwich City\n\n29\n4\n5\n20\n18\n63\n-45\n17\n\n\n       \n\n']

In [7]:
c = []
for element in data:
    data_split = element.split('\n')
    for elements in data_split:
        empty_space = list(filter(str.strip, data_split))
    c.append(empty_space)
c

[['#', 'Team', 'Pl', 'W', 'D', 'L', 'F', 'A', 'GD', 'Pts', 'Last 6'],
 ['1', 'Manchester City', '29', '22', '4', '3', '68', '18', '50', '70'],
 ['2', 'Liverpool', '29', '21', '6', '2', '75', '20', '55', '69'],
 ['3', 'Chelsea', '28', '17', '8', '3', '57', '19', '38', '59'],
 ['4', 'Arsenal', '28', '17', '3', '8', '44', '31', '13', '54'],
 ['5', 'Tottenham Hotspur', '29', '16', '3', '10', '47', '36', '11', '51'],
 ['6', 'Manchester United', '29', '14', '8', '7', '48', '40', '8', '50'],
 ['7', 'West Ham United', '30', '14', '6', '10', '49', '39', '10', '48'],
 ['8',
  'Wolverhampton Wanderers',
  '30',
  '14',
  '4',
  '12',
  '31',
  '26',
  '5',
  '46'],
 ['9', 'Aston Villa', '29', '11', '3', '15', '41', '40', '1', '36'],
 ['10', 'Leicester City', '27', '10', '6', '11', '42', '46', '-4', '36'],
 ['11', 'Southampton', '29', '8', '11', '10', '36', '45', '-9', '35'],
 ['12', 'Crystal Palace', '29', '7', '13', '9', '39', '38', '1', '34'],
 ['13',
  'Brighton and Hove Albion',
  '29',
  '7',
  '12',
  '10',
  '26',
  '36',
  '-10',
  '33'],
 ['14', 'Newcastle United', '29', '7', '10', '12', '32', '49', '-17', '31'],
 ['15', 'Brentford', '30', '8', '6', '16', '33', '47', '-14', '30'],
 ['16', 'Leeds United', '30', '7', '8', '15', '34', '67', '-33', '29'],
 ['17', 'Everton', '27', '7', '4', '16', '29', '47', '-18', '25'],
 ['18', 'Watford', '29', '6', '4', '19', '29', '55', '-26', '22'],
 ['19', 'Burnley', '27', '3', '12', '12', '22', '38', '-16', '21'],
 ['20', 'Norwich City', '29', '4', '5', '20', '18', '63', '-45', '17']]

In [8]:
import csv
with open("league_table.csv", "w") as f:
    x = csv.writer(f)
    for i in c:
        x.writerow(i)

In [9]:
import pandas as pd
df = pd.read_csv("league_table.csv", index_col = [0])
df.drop('Last 6', inplace = True, axis = 1)
df

                        Team  Pl   W   D   L   F   A  GD  Pts
#
1            Manchester City  29  22   4   3  68  18  50   70
2                  Liverpool  29  21   6   2  75  20  55   69
3                    Chelsea  28  17   8   3  57  19  38   59
4                    Arsenal  28  17   3   8  44  31  13   54
5          Tottenham Hotspur  29  16   3  10  47  36  11   51
6          Manchester United  29  14   8   7  48  40   8   50
7            West Ham United  30  14   6  10  49  39  10   48
8    Wolverhampton Wanderers  30  14   4  12  31  26   5   46
9                Aston Villa  29  11   3  15  41  40   1   36
10            Leicester City  27  10   6  11  42  46  -4   36
11               Southampton  29   8  11  10  36  45  -9   35
12            Crystal Palace  29   7  13   9  39  38   1   34
13  Brighton and Hove Albion  29   7  12  10  26  36 -10   33
14          Newcastle United  29   7  10  12  32  49 -17   31
15                 Brentford  30   8   6  16  33  47 -14   30
16              Leeds United  30   7   8  15  34  67 -33   29
17                   Everton  27   7   4  16  29  47 -18   25
18                   Watford  29   6   4  19  29  55 -26   22
19                   Burnley  27   3  12  12  22  38 -16   21
20              Norwich City  29   4   5  20  18  63 -45   17